.teamName {
  text-align: center;
}

.fieldLineupContainer {
  position: relative;
  max-width: 500px;
  min-height: 500px;
  width: 80vw;
  height: 80vh;
  margin: auto;

  @media screen and (max-width: 320px) {
    height: 1300px;
  }

  &-Item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &-Alternative {
    text-align: center;
    margin: 50px;
    font-size: larger;
    font-weight: bold;
  }
}

.lastUpdated {
  text-align: center;
  margin-top: 10px;
}
